USE [master]
GO
/****** Object:  Database [Db_Message]    Script Date: 9/15/2024 5:48:05 PM ******/
CREATE DATABASE [Db_Message]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Db_Message', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\Db_Message.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Db_Message_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\Db_Message_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Db_Message].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Db_Message]
GO
/****** Object:  Table [dbo].[TblMessages]    Script Date: 9/15/2024 5:48:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TblMessages](
	[messageId] [int] IDENTITY(1,1) NOT NULL,
	[messageSender] [int] NULL,
	[messageReceiver] [int] NULL,
	[messageTitle] [varchar](30) NULL,
	[messageContent] [varchar](max) NULL,
 CONSTRAINT [PK_TblMessages] PRIMARY KEY CLUSTERED 
(
	[messageId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TblUsers]    Script Date: 9/15/2024 5:48:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TblUsers](
	[userId] [int] IDENTITY(1,1) NOT NULL,
	[userName] [varchar](20) NULL,
	[userSurname] [varchar](20) NULL,
	[userNo] [char](4) NULL,
	[userPassword] [varchar](30) NULL,
 CONSTRAINT [PK_TblUser] PRIMARY KEY CLUSTERED 
(
	[userId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[TblMessages]  WITH CHECK ADD  CONSTRAINT [FK_TblMessages_TblUsers] FOREIGN KEY([messageSender])
REFERENCES [dbo].[TblUsers] ([userId])
GO
ALTER TABLE [dbo].[TblMessages] CHECK CONSTRAINT [FK_TblMessages_TblUsers]
GO
ALTER TABLE [dbo].[TblMessages]  WITH CHECK ADD  CONSTRAINT [FK_TblMessages_TblUsers1] FOREIGN KEY([messageReceiver])
REFERENCES [dbo].[TblUsers] ([userId])
GO
ALTER TABLE [dbo].[TblMessages] CHECK CONSTRAINT [FK_TblMessages_TblUsers1]
GO
USE [master]
GO
